@use "../variables" as *;
@use "../mixins" as *;

header {
  position: relative;
  min-height: 32rem;
  max-height: 100vh;
  height: 100vh;
  padding-top: calc($navbar-height + $navbar-padding * 2);
  background-color: $black-opacity-25;
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem;
    gap: 4rem;

    @include respond-to(md) {
      flex-direction: row;
    }
  }

  .header-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;

    h1 {
      font-size: clamp(2rem, 4vw, 4rem);
    }

    h1,
    p {
      text-shadow: 0 0 2rem #000;
    }

    &.with-logo {
      perspective: 1000px;
      align-items: center;

      img {
        width: 12rem;

        @include respond-to(md) {
          width: 20rem;
        }
      }
    }
  }
}

section {
  background-size: cover !important;

  & + section {
    border-top: 1px solid $nord-pn-400;
  }

  $os-types: windows, apple, linux, android;

  @for $i from 1 through length($os-types) {
    $direction: if($i % 2 == 0, to right, to left);

    &#section-#{nth($os-types, $i)} {
      background: linear-gradient(to top, $nord-pn-100 50%, transparent 75%),
        url("../img/index/section-#{nth($os-types, $i)}.jpg") no-repeat center center fixed;

      @include respond-to(md) {
        background: linear-gradient($direction, $nord-pn-100 50%, transparent 75%),
          url("../img/index/section-#{nth($os-types, $i)}.jpg") no-repeat center center fixed;
      }
    }
  }

  &:nth-of-type(even) {
    background-color: $black-opacity-25;

    .container {
      @include respond-to(md) {
        flex-direction: row-reverse;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;

    @include respond-to(md) {
      flex-direction: row;
    }

    .left-part {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .left-part,
    .right-part {
      flex: 1;
      padding: 4rem 2rem;
    }

    .right-part {
      text-align: justify;
      word-break: keep-all;
      hyphens: auto;
    }

    h2 {
      margin-left: auto;
      margin-right: auto;
      width: max-content;
      padding: 0 2rem 1rem;
      border-left: unset;
      border-bottom: 0.125rem solid $nord-pn-400;

      @include respond-to(md) {
        margin: initial;
        padding: 0 0 0 1rem;
        border-bottom: unset;
        border-left: 0.125rem solid $nord-pn-400;
      }
    }
  }

  .section-icon {
    font-size: 16rem;
  }
}

#button-down {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  color: $nord-ss-300;
  border: 0.125rem solid currentColor;
  background-color: $black-opacity-25;
  opacity: 0.75;
  transition: $default-transition;
  box-shadow: 0 0 0.5rem 0 #000;

  &:hover {
    opacity: 1;
  }
}
