@use "../variables" as *;
@use "../mixins" as *;

header {
  position: relative;
  min-height: 32rem;
  max-height: 80vh;
  height: max-content;
  padding-top: calc($navbar-height + $navbar-padding * 2);
  background-image: url("../img/subpage/header.svg");
  background-color: #0007;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 4rem;

    @include respond-to(md) {
      flex-direction: row;
    }
  }

  .header-section {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &.with-icon {
      font-size: 8rem;
    }
  }
}

section {
  // outline: 1px solid #fff3;

  &:last-child .container::before {
    content: unset;
  }

  .container {
    position: relative;
    padding-left: 8rem;

    &::before {
      content: "";
      position: absolute;
      top: 7rem;
      left: 3rem;
      border-left: 1px solid $nord-pn-400;
      height: calc(100% + 6rem);
    }
  
    .version-logo {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      padding: 1rem;
      width: 6rem;
      height: 6rem;
      border-radius: 3rem;
      background-color: $black-opacity-25;
      box-shadow: $default-shadow;
      overflow: visible;
      border: 1px solid $nord-pn-400;
    }
  }
}

.release-date {
  font-size: 1rem;
  color: $nord-f-400;
}