@font-face {
  font-family: "Mooli";
  src: url("../fonts/Mooli-Regular.ttf");
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: unset;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  border-left: 1px solid #5E81AC;
  padding-left: 1rem;
}

p {
  line-height: 1.5;
}

ul {
  list-style: none;
}

body {
  background-color: #2E3440;
  background-image: url("../img/background.jpg");
  background-attachment: fixed;
  font-family: "Mooli", sans-serif;
  color: #ECEFF4;
}

main {
  margin-top: 4rem;
}

section {
  position: relative;
  padding: 4rem 1rem;
}

.container {
  margin: 0 auto;
}
@media screen and (min-width: 0) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

.nord-a-100 {
  color: #BF616A;
}

.nord-a-200 {
  color: #D08770;
}

.nord-a-300 {
  color: #EBCB8B;
}

.nord-a-400 {
  color: #A3BE8C;
}

.nord-a-500 {
  color: #B48EAD;
}

.nord-f-100 {
  color: #8FBCBB;
}

.nord-f-200 {
  color: #88C0D0;
}

.nord-f-300 {
  color: #81A1C1;
}

.nord-f-400 {
  color: #5E81AC;
}