@font-face {
  font-family: "Mooli";
  src: url("../fonts/Mooli-Regular.ttf");
}
html {
  scroll-padding-top: 6rem;
}

header {
  position: relative;
  min-height: 32rem;
  height: -moz-max-content;
  height: max-content;
  padding-top: 5rem;
  background-image: url("../img/subpage/header.svg");
  background-color: rgba(0, 0, 0, 0.4666666667);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 4rem;
}
@media screen and (min-width: 768px) {
  header .container {
    flex-direction: row;
  }
}
header .header-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  word-break: keep-all;
  -webkit-hyphens: auto;
          hyphens: auto;
}
@media screen and (min-width: 768px) {
  header .header-section {
    text-align: initial;
    word-break: initial;
    -webkit-hyphens: initial;
            hyphens: initial;
  }
}
header .header-section.with-icon {
  font-size: 8rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
section:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.0666666667);
}
section .container {
  position: relative;
  padding-left: 8rem;
}
section .container:last-child::before {
  content: unset;
}
section .container::before {
  content: "";
  position: absolute;
  top: 7rem;
  left: 3rem;
  border-left: 1px solid #4c566a;
  height: 100%;
  z-index: 1;
}
section .container .version-logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  background-color: #434c5e;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
  overflow: visible;
}

.release-date {
  font-size: 1rem;
  color: #5e81ac;
}