// colors

$nord-pn-100: #2e3440;
$nord-pn-200: #3b4252;
$nord-pn-300: #434c5e;
$nord-pn-400: #4c566a;

$nord-ss-100: #d8dee9;
$nord-ss-200: #e5e9f0;
$nord-ss-300: #eceff4;

$nord-f-100: #8fbcbb;
$nord-f-200: #88c0d0;
$nord-f-300: #81a1c1;
$nord-f-400: #5e81ac;

$nord-a-100: #bf616a;
$nord-a-200: #d08770;
$nord-a-300: #ebcb8b;
$nord-a-400: #a3be8c;
$nord-a-500: #b48ead;

// general

$black-opacity-25: rgba(0, 0, 0, 0.25);
$default-transition: 0.1s ease-out;
$default-radius: 0.25rem;

// nav

$navbar-height: 4rem;
$navbar-padding: 0.5rem;
$nav-icon-size: $navbar-height - $navbar-padding * 2;
$nav-icon-padding: 0.5rem;

// font

@font-face {
  font-family: "Mooli";
  src: url("../fonts/Mooli-Regular.ttf");
}
