@use "./variables" as *;
@use "./mixins" as *;

#navbar {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  height: $navbar-height;
  background-color: $black-opacity-25;
  backdrop-filter: blur(1rem);
  padding: $navbar-padding;
  border-bottom: 1px solid $nord-pn-400;

  @include respond-to(md) {
    margin: 1rem auto;
    width: max-content;
    border-radius: 2rem;
    border: 1px solid $nord-pn-400;
  }
}

ul.navbar-nav {
  margin: 0 auto;
  width: max-content;
  display: flex;
  gap: 1rem;
}

li.nav-item {
  height: $nav-icon-size;

  a.nav-link {
    width: 3rem;
    height: 3rem;
    padding: $nav-icon-padding $nav-icon-padding;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $nord-ss-100;
    border-radius: $nav-icon-size;
    transition: $default-transition;

    @include respond-to(md) {
      width: fit-content;
      height: 100%;
      gap: 1rem;
      padding: $nav-icon-padding $nav-icon-padding * 2;
    }

    &:hover {
      background-color: $black-opacity-25;
      box-shadow: 0 0 1rem 0 $nord-pn-100;
      filter: saturate(2);

      .icon {
        transform: rotateY(180deg);
      }
    }

    span {
      display: none;

      @include respond-to(md) {
        display: initial;
      }
    }

    .icon {
      width: 100%;
      height: 100%;
      transition: 0.75s ease-out;
    }
  }
}
